.icon-arrow-down {
  width: 1.87em;
  height: 1em;
  fill: initial;
}
.icon-arrow-left {
  width: 1.24em;
  height: 1em;
  fill: initial;
}
.icon-arrow-next {
  width: 1.2em;
  height: 1em;
  fill: initial;
}
.icon-arrow-prev {
  width: 1.2em;
  height: 1em;
  fill: initial;
}
.icon-arrow-right {
  width: 1.24em;
  height: 1em;
  fill: initial;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.46em;
  height: 1em;
  fill: initial;
}
.icon-mail {
  width: 1.27em;
  height: 1em;
  fill: initial;
}
.icon-marker {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-phone-call {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: #000;
}
.icon-vk-1 {
  width: 1.77em;
  height: 1em;
  fill: initial;
}
.icon-vk {
  width: 1.14em;
  height: 1em;
  fill: #010002;
}
