.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arr {
	font-size:(14/10)*1rem;
	width:(19/14)*1em;
}
.icon-play {
	font-size:(111/10)*1rem;
	width:(64/111)*1em;
}
.icon-quot {
	font-size:(76/10)*1rem;
	width:(80/76)*1em;
}
